<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="../registerresult/" method="post">
        Name: <input type="text" name="xm" value=""/>
        <hr/>
        Gender: <input type="radio" name="xb" value="1"/>Male
        <input type="radio" name="xb" value="0"/>Female
        <hr/>
        Age: <input type="text" name="nl" value=""/>
        <hr/>
        Lobby:<input type="checkbox" name="ah" value="run"/>跑步
        <input type="checkbox" name="ah" value="sing"/>唱歌
        <input type="checkbox" name="ah" value="learn"/>学习
        <hr/>
        <input type="submit" value="注册"/>
    </form>
</body>
</html>